.headerSearch {
  // width: 200px;
  margin-right: 20px;
  float: right;
  line-height: 60px;
  .autoInput {
    // width: 0px !important;
    // min-width: 0;
  }

  :global(.ant-input) {
    padding-right: 10px;
    padding-left: 10px;
  }
}
