@import '~antd/es/style/themes/default.less';
.pageHeader {
  background: #eee;
}

.cont {
  height: calc(100vh - 112px);
  background-image: url(../assets/bg.jpg);
  overflow: hidden;
}

.footer {
  text-align: center;
  height: 40px;
}

.container {
  background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.top {
  text-align: center;
  padding: 100px 0 24px;
}

.header {
  height: 44px;
  line-height: 44px;
  a {
    text-decoration: none;
  }
}

.logo {
  height: 60px;
  vertical-align: top;
}

.desc {
  margin-top: 32px;
  margin-bottom: 40px;
  color: @text-color-secondary;
  font-size: @font-size-base;
}
